:root {
    --toggleAddWidgetSwitch: #525868;
    --activeStylesWidget: hsl(3, 71%, 56%);
    --textColorActiveRemoveWidget: #091540;

    /*STYLES DESKTOP VIEWPORT*/
    --bodyBackColor: linear-gradient(180deg, #040918 0%, #091540 100%);
    --headerBackColor: #1f2535;
    --backgroundSvgThemeChange: hsl(217, 61%, 90%);
    --backColorButtNavSecInitial: hsl(225, 23%, 24%);



    /*Dark Theme Var*/
    --headerThemeDark: #1e2433;
    --svgThemeDark: hsl(219, 15%, 38%);
    --boxFigureContainerDark: hsl(226, 25%, 14%);
    --toggleAddWidgetSwitchDark: #525868;

    /*Light Theme Var*/
    --headerThemeLight: #f3f7fa;
    --removeWidgetButtLight: #091540;
    --colorTextLightThem: #112;
    --colorTextButtNav: #ffe;
    --backLightColor: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);

}

@font-face {
    font-family: 'Noto Sans';
    src: url(../assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', Courier, monospace;
}


html {
    width: 100dvw;
}

/*BEGIN STYLES WITHOUT MEDIA QUERY BEGIN*/
#bodyTagMain {
    height: 100%;
    width: 100dvw;
}

#sectionMainContainer {
    height: 50%;
}

#sectionMainContainer .tittleNavBar {
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
}

.buttNavSect {
    border-radius: 20px;
    padding: .5rem 1rem;
    border: none;
    color: white;
    font-size: .9rem;
    background: var(--backColorButtNavSecInitial);
}

.containerBoxOfButtons li button.activeButtNavSect {
    background: hsl(3, 71%, 56%);
    color: #040918;
    border: 2px solid black;
    outline: 3px solid rgb(255 110 110/1);
}

/* END STYLES HEADER NAV */


/*BEGIN MAIN CONTAINER CARDS*/
#sectionMainContainer #containerC {
    width: 100%;
    display: grid;

}

#containerC article {
    background-color: hsl(226, 25%, 17%);
}

/*END MAIN CONTAINER CARDS*/


/* MOBILE SCREEN VIEWPORT*/
@media screen and (max-width: 376px) {

    #bodyTagMain {
        padding: 2rem 1.5rem;
        height: 100%;
        min-height: 100dvh;
        background-size: cover;
        background-repeat: no-repeat;
    }


    #wrapperContainerAllPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headerThemeChange {
        background: var(--headerThemeDark);
        background-repeat: no-repeat;
        width: 100%;
        height: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .containerLogoMainHeaderPage,
    .svgThemeChange {
        height: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .containerLogoMainHeaderPage {
        justify-content: start;
        width: 70%;
    }

    .logoPage {
        font-size: 10rem;
    }

    .svgThemeChange {
        width: 15%;
        background: var(--svgThemeDark);
        border-radius: 10px;
        border: none;
    }

    .themeIcon {
        font-size: 1.5rem;
    }

    .themeIcon path {
        stroke: white;
    }

    /*END of Section Header #headerMainTag*/


    /*BEGIN section #sectionMainContainer*/
    #sectionMainContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10rem auto;
    }

    .containerNavInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .containerNavInfo h3 {
        font-weight: 800;
        font-size: 1.7rem;
        color: #EBF2FC;
    }

    .containerBoxOfButtons {
        width: 85%;
        height: 4rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .containerBoxOfButtons li {
        width: auto;
        border: 1px solid rgb(200 200 200/ .3);
        border-radius: 20px;
        background: hsl(225, 23%, 24%);
        list-style: none;
        overflow: hidden;
        cursor: auto;
    }

    .containerBoxOfButtons li button {
        all: unset;
        height: 100%;
        color: white;
        font-weight: 500;
        display: grid;
        padding: .5rem 1rem;
    }

    /*end header nav*/

    /*begin main cards container */
    #sectionMainContainer #containerC {
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
    }

    #containerC article {
        height: 13rem;
        border-radius: 10px;
        display: grid;
        grid-template-rows: 3fr 1.5fr;
    }

    #containerC article header {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: .4rem;
    }

    #containerC article header aside:first-child {
        display: flex;
        justify-content: end;
        align-items: start;
        margin: .8rem 0rem;
    }

    #containerC article header aside:first-child img {
        width: 75%;
    }

    #containerC article header aside:last-child {
        margin: .5rem .5rem;
    }

    #containerC article header aside h1,
    #containerC article header aside p {
        font-family: 'Noto Sans', sans-serif;
        color: #ccc;
    }

    #containerC article header aside h1 {
        font-size: 1.5rem;
    }

    #containerC article header aside p {
        padding: 0 2rem 0 0;
        text-wrap: break-word;
        font-size: .9rem;
    }


    #containerC article footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #containerC article footer aside:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #containerC article footer aside:first-child button {
        all: initial;
        color: white;
        border: 1px solid #fff4;
        width: 55%;
        height: 2rem;
        border-radius: 20px;
        text-align: center;
        border: 1px solid #ccf6;
    }

    #containerC article footer aside:last-child {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 1rem;
    }

    #containerC article footer aside:last-child button {
        border: 1px solid hsl(226, 11%, 37%);
        background: hsl(226, 11%, 37%);
        width: 25%;
        height: 1rem;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 0 .1rem;
    }

    #containerC article footer aside:last-child button div {
        background: white;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        transition: background-color 3s;
    }

    /*BEGIN BEGIN STYLES SWITCH AND SLIDER BEGIN BEGIN */
    #containerC article footer aside:last-child button {
        transition: background .5s ease-in-out,
            border 1.5s ease;
    }

    #containerC article footer aside:last-child button div {
        transition: transform .5s ease-in-out;
    }

    #containerC article footer aside:last-child button.activeStylesWidget {
        background: var(--activeStylesWidget);
        border: 1px solid #c2211b;
    }

    #containerC article footer aside:last-child button div.activeMoveSlider {
        transform: translateX(1.4rem);
        transition: all .3s ease-in-out;
    }

    /*END END STYLES SWITCH AND SLIDER END END */


    /*end main cards container */
    /*END section #sectionMainContainer*/
}

/* DESKTOP SCREEN VIEWPORT*/
@media screen and (max-width: 1441px) and (min-width: 377px) {

    #bodyTagMain {
        width: 100dvw;
        min-width: 790px;
        height: auto;
        display: flex;
    }

    #wrapperContainerAllPage {
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 4rem 6rem;
        min-width: 100%;
        min-height: 100dvh;
        gap: 2rem;
    }

    .headerThemeChange {
        width: 95%;
        height: 5rem;
        background: var(--headerBackColor);
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 15px;
        padding: 1rem;
    }

    .containerLogoMainHeaderPage {
        display: flex;
        width: 90%;
        justify-content: start;
    }

    .containerLogoMainHeaderPage .logoMainPage {
        transform: scale(.8) translate(-35px);
    }

    .svgThemeChange {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        border-radius: 8px;
        justify-content: center;
        background: var(--svgThemeDark);
    }

    .svgThemeChange svg {
        transform: scale(2);
    }

    #sectionMainContainer {
        width: 95%;
        height: 94%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .containerNavInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 10rem;
        min-width: 700px;
    }

    .containerNavInfo>* {
        width: 1rem;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #sectionMainContainer .containerNavInfo .tittleNavBar {
        width: 30%;
        min-width: 195px;
        height: 100%;
        font-size: 2rem;
        word-spacing: 1%;
    }

    .containerNavInfo .clearFilter {
        width: 15%;
        min-width: 100px;
        height: 40%;
        font-size: 1.2rem;
        font-weight: 200;
        background: #aaa2;
        color: white;
        border-radius: 10px;
        border: 2px solid transparent;
        box-shadow:
            2px 3px 12px #aaa6,
            -3px -3px 12px #aaa6;
    }

    .containerNavInfo .clearFilter.clearAnim {
        animation: clr 3s alternate;
    }

    @keyframes clr {
        0% {
            border: 7px solid #ebb;
            box-shadow: 0px 0px 45px #ebb;
            background: #ebb;
        }

        20%{
            border: 3px solid #e99;
        }

        100% {
            border: 2px solid transparent;
        }
    }

    #sectionMainContainer .containerNavInfo .containerBoxOfButtons {
        width: 40%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        min-width: 300px;
        padding: 0 0 0 4rem;
    }

    .containerBoxOfButtons li {
        display: flex;
        justify-content: center;
        min-width: 3rem;
    }

    #sectionMainContainer .containerNavInfo .containerBoxOfButtons .buttNavSect {
        font-size: x-large;
        position: relative;
        height: 3rem;
        width: 100%;
        font-family: 'Noto Sans', 'Courier New', Courier, monospace;
    }

    /* STYLES CONCAINERC BEGIN STYLES CONTAINERC BEGIN STYLES CONTAINERC */
    #sectionMainContainer #containerC {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(209px, 1fr));
        gap: .8rem;
    }

    #sectionMainContainer #containerC .boxFigureContainer {
        height: 13rem;
        border-radius: 15px;
        display: grid;
        grid-template-rows: 70% 30%;
        border: 1px solid #aaa2;
    }

    .boxFigureContainer header {
        display: grid;
        grid-template-columns: 22% auto;
    }

    .boxFigureContainer header aside:first-child {
        display: flex;
        justify-content: end;
        padding: 1.4rem 0;
    }

    .boxFigureContainer aside:first-child img {
        width: 80%;
        height: 40%;
    }

    .boxFigureContainer aside:last-child {
        padding: .8rem;
        color: white;
    }

    .boxFigureContainer header aside:last-child p {
        padding-right: .8rem;
    }

    /*FOOTER FOOTER FOOTER*/
    .boxFigureContainer footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
    }

    .boxFigureContainer footer aside:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5.5rem;
        height: 2.5rem;
    }

    .boxFigureContainer footer aside:first-child button {
        all: unset;
        text-align: center;
        font-weight: 500;
        color: hsl(0, 0%, 93%);
        border: 1px solid #fff5;
        border-radius: 15px;
        width: 100%;
        height: 100%;
    }

    .boxFigureContainer footer aside:last-child {
        all: unset;
        width: 4rem;
        height: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .boxFigureContainer footer aside:last-child button {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        border: 1px solid hsl(226, 11%, 33%);
        background: transparent;
        transition:
            background-color .8s ease,
            border .5s ease-in;
        padding: 0 .2rem;
    }

    .boxFigureContainer footer aside:last-child button div {
        border: 1px solid white;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: hsl(0, 0%, 93%);
        transition: transform 1.3s ease;
    }

    #containerC article footer aside:last-child button.activeStylesWidget {
        background: var(--activeStylesWidget);
        border: 1px solid #c2211b;
        transition: background-color 1s ease-in-out,
            border .3s ease-in, transform 10s;
    }

    #containerC article footer aside:last-child button div.activeMoveSlider {
        transform: translateX(2.5rem);
        transition: all .3s ease-in-out, transform .6s ease;
    }

    /* STYLES CONCAINERC STYLES CONTAINERC STYLES CONTAINERC */

}

/*END STYLES MEDIA QUERY 377px -- 1441px*/


/*CONFIG LIGHT AND DARK THEME BEGIN*/
/*Dark Theme Config BEGIN*/
.darkThem {
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.darkThem #headerMainTag .svgThemeChange {
    background: var(--svgThemeDark);
    border: 2px solid rgb(255 90 90/1);
}

.darkThem #headerMainTag .svgThemeChange .sunIcon {
    display: none;
}

.darkThem #headerMainTag .svgThemeChange .moonIcon {
    display: block;
}


/*Dark Theme Config END*/

/*light Theme Config BEGIN*/
.lightThem {
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}

.lightThem #wrapperContainerAllPage {
    background: var(--backLightColor);
}

.lightThem #headerMainTag {
    background: var(--headerThemeLight);
    box-shadow: 0px 0px 5px rgb(30 30 30/.2);
}

.lightThem .containerLogoMainHeaderPage svg path:not(:first-child) {
    fill: #091540;
}

.lightThem.svgThemeChange {
    background: #e5e5e5;
    border: none;
    outline: 3px solid rgb(255 90 90/1);
}

.lightThem.svgThemeChange svg path {
    stroke: #040918;
}

.lightThem .containerNavInfo .tittleNavBar {
    color: #091540 !important;
}

.lightThem .containerNavInfo .clearFilter {
    color: var(--colorTextLightThem);
}

.lightThem .containerBoxOfButtons .buttNavSect {
    background: #fefeff;
    color: var(--colorTextLightThem);
    font-weight: 500;
}

.lightThem .containerBoxOfButtons .buttNavSect.activeButtNavSect {
    background: #c2211b;
    color: white;
    border: 2px solid #ffe;
}

/*light Theme Config END*/
/*CONFIG LIGHT AND DARK THEME END*/