/* PS C:\Users\PC\Desktop\vsc\frontendMentorFirstPage> git status
On branch master

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)
        new file:   CLAUDE.md
        new file:   README-template.md
        new file:   README.md
        new file:   assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf
        new file:   assets/fonts/NotoSans-VariableFont_wdth,wght.ttf
        new file:   assets/fonts/OFL.txt
        new file:   assets/fonts/README.txt
        new file:   assets/fonts/static/NotoSans-Bold.ttf
        new file:   assets/fonts/static/NotoSans-Medium.ttf
        new file:   assets/fonts/static/NotoSans-Regular.ttf
        new file:   assets/images/icon-moon.svg
        new file:   assets/images/icon-sun.svg
        new file:   assets/images/logo-console-plus.svg
        new file:   assets/images/logo-devlens.svg
        new file:   assets/images/logo-dom-snapshot.svg
        new file:   assets/images/logo-grid-guides.svg
        new file:   assets/images/logo-json-wizard.svg
        new file:   assets/images/logo-link-checker.svg
        new file:   assets/images/logo-markup-notes.svg
        new file:   assets/images/logo-palette-picker.svg
        new file:   assets/images/logo-speed-boost.svg
        new file:   assets/images/logo-style-spy.svg
        new file:   assets/images/logo-tab-master-pro.svg
        new file:   assets/images/logo-viewport-buddy.svg
        new file:   assets/images/logo.svg
        new file:   design/desktop-design-dark-active.jpg
        new file:   design/desktop-design-dark-focus.jpg
        new file:   design/desktop-design-dark-hover.jpg
        new file:   design/desktop-design-dark-inactive.jpg
        new file:   design/desktop-design-dark.jpg
        new file:   design/desktop-design-light-active.jpg
        new file:   design/desktop-design-light-focus.jpg
        new file:   design/desktop-design-light-hover.jpg
        new file:   design/desktop-design-light-inactive.jpg
        new file:   design/desktop-design-light.jpg
        new file:   design/mobile-design-dark.jpg
        new file:   design/mobile-design-light.jpg
        new file:   git/.gitignore
        new file:   index.html
        new file:   js/ActionRemove.js
        new file:   js/adminCardsStatus.js
        new file:   js/applyDarkInitial.js
        new file:   js/changeTheme.js
        new file:   js/filterByCategory.js
        new file:   js/getItems.js
        new file:   json/data.json
        new file:   preview.jpg
        new file:   readmeTest.md
        new file:   styles/style-guide.md
        new file:   styles/style.css
        TEST TEST TEST


        FEATURE TEST BRANCH
PS C:\Users\PC\Desktop\vsc\frontendMentorFirstPage>*/